html{
  background-color: rgb(214, 145, 145);
}

.container {

text-align: center;
margin-top:20px;
position: relative;

}

.facebook {
  width: 60px;
  height: 60px;
}
.youtube {
  width: 60px;
  height: 60px;
  padding-top:7px;
}




.card {
  position: relative;
}


